@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
      font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}
.header{
    max-width: 120em;
    height: 100vh;
    background-image:linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14px;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 14px 18px 14px 18px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  cursor: pointer;
}
.description {
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}
#card-box{
    max-width: 1000px;
    margin: 50px auto;
}
#card-box .title{
    color: rgb(16, 16, 16);
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
.card-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  
}
.card:hover{
    box-shadow: 5px 5px 15px hsla(0, 4%, 5%, 0.521);
}
.card .image-box {
  width: 250px;
}
.card .image-box img{
    width: 100%;
}
.card .shop {
  background-color: aqua;
  padding: 10px 18px 10px 18px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}
.mid-sec{
    max-width: 1920px;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mid-sec div img{
    height: 100%;
}
.mid-sec div .title{
    color: rgba(16, 16, 16, 1);
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
}
.mid-sec div .subtitle{
    color: rgba(16, 16, 16, 1);
font-size: 24px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.mid-sec div .heading3,.footer .div .heading3{
    color: rgba(16, 16, 16);
font-size: 50px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
opacity: 0.5;
border-top: 1px solid black;
border-bottom: 1px solid black;
width: 100%;
}
.mid-sec .div,.footer .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.con-icon{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.footer{
    background-image: url('../assets/social-bg.png');
    max-width: 1920px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .div .title{
    color: black;
}
.footer .div .subtitle{
    color: black;
}
nav{
  background-color: #c23616;
  height: 80px;
  width: 100vw;
  user-select: none;
  position: sticky;
  top: 0px;
}
.logo{
  color:white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul{
  float: right;
  margin-right: 30px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  line-height: 80px;
  min-width: 100px;
  text-align: center;
  border-top-right-radius:10px ;
  border-top-left-radius:10px ;
}
nav ul li:hover{
  background: #353b48;
}

nav ul li a{
  text-decoration: none;
  color:white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

}

#check{
display: none;
}
.checkbtn{
  color:white;
  font-size: 30px;
  float:right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 10px;
}

li.active a{
  color:rgba(123, 237, 159,1.0);
}
